.fontsize {
  &__body {
    font-size: 16px;
  }

  &__caption {
    font-size: 12px;
  }

  &__lyrics {
    font-size: 24px;
  }
}


.swiper {
  width: 100%;
  height: 100svh; 
}

.swiper-slide {
  height: 100svh;
  text-align: center;
  font-size: 36px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scroll-area {
  width: 100%;
  // position: absolute;
  z-index: 2;
  top: 0;
}

.control-area {
  position: relative;
  width: 432px;
  max-width: 100%;
  height: 100svh;
  border: 1px solid #ccc;
  background: #fff;
}

.layout {
  &__index {
    height: 100svh;
  }
  &__background {
    display: flex;
    flex-direction: column;
    align-items: center; // 垂直方向の中心寄せに必要
    justify-content: flex-start; // 水平方向の中心寄せ
    height: 100svh;
    width: 100%;
    background: #333333;
  }

  &__control-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.music-information {
  position: absolute;
  width: 100%;
  z-index: 3;
  bottom: 0;
  left: 0;

  &__layout {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background: #e6e6e6;
  }
  
  &__song-name {
    width: 100%;
    white-space: nowrap;
  }

  &__artist-name {
    white-space: nowrap;
  }

  &__seekbar {
    height: 16px;
    align-items: end;
  }
}

.aliving-control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  bottom: 100px;

  &__layout {
    position: absolute;
    z-index: 2;
    bottom: 100px;
    width: 100%;
  }

  &__button {
    background: #b7b7b7d2;
    border: none;
    width: 40px;
    height: 40px;
    margin: 12px;
    text-align: center;
  }

}

.lyrics {
  background: #ffffffd2;
  padding: 4px;
  border-radius: 2px;
  max-width: 320px;
  word-wrap: break-word; /* 古いブラウザではこれが必要 */
  overflow-wrap: break-word; /* 幅を超えた単語も改行する */


  &__layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40%;
  }
}

.miku-animation {
  height: 100svh;
  position: absolute;
  z-index: 1;
  bottom: 64px;
  left: 50%;      /* 親要素の左端から50%の位置に設定 */
  transform: translate(-50%, 0%);  /* 画像の中心が親要素の中央に来るように調整 */

  &__image {
    height: 800px;
    width: 800px;
    bottom: 0;
  }
}

.loading {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__animation {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 432px) {
  // 432px以下のスタイル
  .music-information {
  position: absolute;
  width: 100%;
  z-index: 3;
  bottom: 0;

}

}